<a href="https://colab.research.google.com/github/AubreyFeldker/CS4375TeamProject/blob/main/Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [111]:
# Required Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn

# Preprocessing
import time
import datetime
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import normalize

In [112]:
# Read in csv file
df = pd.read_csv("https://raw.githubusercontent.com/KalyaniGanta/meh/main/Dallas-Fort%20Worth%20Metropolitan%20Area%20Weather%20Events%202016-2021.csv")

# Removing Time and Date Columns since Timestamp covers both
df = df.drop(['Time(UTC)', 'Date'], axis = 1)

In [113]:
# Using One-Hot Encoding for the precipitation type and severity
# converts categorical data into numerical data
oneHot = OneHotEncoder()

# Using two different arrays to avoid size mismatch
# Perform encoding
arry = oneHot.fit_transform(df[['Type']]).toarray()
feature_labels = oneHot.categories_

arry2= oneHot.fit_transform(df[['Severity']]).toarray()
feature_labels2 = oneHot.categories_

# Flatten out the arrays
feature_labels = np.array(feature_labels).ravel()
feature_labels2 = np.array(feature_labels2).ravel()

# Create new dataframes with the encoded arrays
df1 = pd.DataFrame(arry, columns = feature_labels)
df2 = pd.DataFrame(arry2, columns = feature_labels2)


# Drop type and severity columns to add in new encoded columns
df = df.drop(['Type','Severity'], axis = 1)

# Concat all columns from df, df1, and df2
df = pd.concat([df1, df2, df], axis=1)


# Renameing Precipitation column to avoid confusion
df.rename(columns = {"Precipitation":"Other"}, inplace = True)

In [114]:
# Standardize Precipitation
scaler = StandardScaler()
df[['Precipitation(in)']] = scaler.fit_transform(df[['Precipitation(in)']])

In [115]:
# Convert Python DateTime to Unix Timestamp
df['Timestamp'] = df['Timestamp'].apply(lambda x: datetime.datetime.strptime(str(x),'%Y%m%d%H%M').timestamp())

In [116]:
df.head()

,Cold,Fog,Hail,Other,Rain,Snow,Storm,Heavy,Light,Moderate,Other,Severe,UNK,Precipitation(in),Latitude,Longitude,Timestamp
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,-0.260101,32.968606,-96.830041,1.552286e+09
1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,-0.260101,32.968606,-96.830041,1.452135e+09
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,-0.260101,32.968606,-96.830041,1.452974e+09
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,-0.260101,32.968606,-96.830041,1.453388e+09
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,-0.260101,32.968606,-96.830041,1.453396e+09